*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#ff9a9e,#fad0c4,#ffd1dc);
    overflow-x:hidden;
    padding:20px;
}


.container{
    width:100%;
    max-width:420px;
    background:rgba(255,255,255,0.2);
    backdrop-filter:blur(15px);
    border-radius:30px;
    padding:30px;
    text-align:center;
    box-shadow:0 15px 40px rgba(255,20,147,0.3);
    animation:show 1s ease;
}


@keyframes show{

from{
opacity:0;
transform:translateY(40px);
}

to{
opacity:1;
transform:translateY(0);
}

}


h1{
font-size:38px;
color:#ff1493;
margin-bottom:20px;
}


h2{
color:#ff4f9a;
margin:15px 0;
}


h3{
color:#ff1493;
margin-top:15px;
}


.photo{
width:220px;
height:220px;
object-fit:cover;
border-radius:50%;
border:5px solid white;
box-shadow:0 0 30px rgba(255,20,147,.5);
}


.message{
margin:25px 0;
color:#555;
font-size:16px;
line-height:1.8;
}


.quiz,
.surprise-box{
background:rgba(255,255,255,.35);
padding:20px;
border-radius:20px;
margin-top:25px;
}


button{
margin-top:15px;
padding:13px 25px;
border:none;
border-radius:30px;
background:#ff1493;
color:white;
font-size:16px;
font-weight:bold;
cursor:pointer;
transition:.3s;
}


button:hover{
transform:scale(1.08);
box-shadow:0 0 20px #ff1493;
}


.ending{
margin-top:30px;
animation:pulse 2s infinite;
}


@keyframes pulse{

50%{
transform:scale(1.1);
}

}


#fireworks{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
pointer-events:none;
}
.gift-game{
    margin-top:25px;
    padding:20px;
    background:rgba(255,255,255,0.35);
    border-radius:20px;
}

.gift{
    font-size:70px;
    cursor:pointer;
    animation:bounce 1.5s infinite;
}

@keyframes bounce{

50%{
transform:translateY(-15px);
}

}

#giftMessage{
    margin-top:15px;
    color:#ff1493;
    font-weight:bold;
}
